In [1]:
import pandas as pd
import numpy as np

 ## Check data

In [10]:
full_moons_df = pd.read_csv('../../datasets/full_moons.csv')

In [23]:
full_moons_df

            Day               Date         Time  Flag
0        Monday    15 January 1900   8:07:30 pm   NaN
1     Wednesday   14 February 1900   2:50:12 pm   NaN
2        Friday      16 March 1900   9:11:48 am   NaN
3        Sunday      15 April 1900   2:02:06 am   NaN
4        Monday        14 May 1900   4:36:36 pm   NaN
...         ...                ...          ...   ...
1863   Thursday   1 September 2050  11:30:54 am   NaN
1864     Friday  30 September 2050   7:31:48 pm   [+]
1865     Sunday    30 October 2050   4:16:00 am  [**]
1866     Monday   28 November 2050   4:09:48 pm   NaN
1867  Wednesday   28 December 2050   6:15:36 am   NaN

[1868 rows x 4 columns]

In [19]:
full_moons_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1868 entries, 0 to 1867
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Day     1868 non-null   object
 1   Date    1868 non-null   object
 2   Time    1868 non-null   object
 3   Flag    383 non-null    object
dtypes: object(4)
memory usage: 58.5+ KB

In [12]:
significant_earthquakes_df = pd.read_csv('../../datasets/significant_earthquakes.csv')

In [25]:
significant_earthquakes_df

,Unnamed: 0,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,0,1900-10-09T12:25:00.000Z,57.0900,-153.4800,NaN,7.86,mw,NaN,NaN,NaN,...,2022-05-09T14:44:17.838Z,"16 km SW of Old Harbor, Alaska",earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,pt
1,1,1901-03-03T07:45:00.000Z,36.0000,-120.5000,NaN,6.40,ms,NaN,NaN,NaN,...,2018-06-04T20:43:44.000Z,"12 km NNW of Parkfield, California",earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,ell
2,2,1901-07-26T22:20:00.000Z,40.8000,-115.7000,NaN,5.00,fa,NaN,NaN,NaN,...,2018-06-04T20:43:44.000Z,"6 km SE of Elko, Nevada",earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,sjg
3,3,1901-12-30T22:34:00.000Z,52.0000,-160.0000,NaN,7.00,ms,NaN,NaN,NaN,...,2018-06-04T20:43:44.000Z,south of Alaska,earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,abe
4,4,1902-01-01T05:20:30.000Z,52.3800,-167.4500,NaN,7.00,ms,NaN,NaN,NaN,...,2018-06-04T20:43:44.000Z,"113 km ESE of Nikolski, Alaska",earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,abe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97390,97390,2023-06-04T00:25:10.260Z,-6.8207,130.3819,114.921,5.20,mww,106.0,32.0,2.332,...,2023-06-24T03:40:07.142Z,Banda Sea,earthquake,7.79,5.094,0.093,11.0,reviewed,us,us
97391,97391,2023-06-03T02:48:12.487Z,-15.8418,-71.9907,10.000,5.00,mb,50.0,146.0,2.968,...,2023-06-23T01:20:28.040Z,"17 km SE of Huambo, Peru",earthquake,6.71,1.880,0.068,69.0,reviewed,us,us
97392,97392,2023-06-03T02:27:39.252Z,-15.8595,-71.7954,10.000,5.10,mww,68.0,96.0,2.858,...,2023-06-23T00:54:59.239Z,NaN,earthquake,8.39,1.773,0.068,21.0,reviewed,us,us
97393,97393,2023-06-03T01:49:15.167Z,-15.6705,-71.6050,10.000,5.40,mww,72.0,96.0,2.945,...,2023-06-23T00:45:06.323Z,southern Peru,earthquake,10.65,1.769,0.047,44.0,reviewed,us,us
97394,97394,2023-06-03T01:44:28.193Z,-18.4392,168.1268,35.000,5.00,mb,43.0,72.0,3.944,...,2023-06-23T00:02:10.213Z,"80 km SSW of Port-Vila, Vanuatu",earthquake,8.89,1.857,0.081,49.0,reviewed,us,us

In [22]:
significant_earthquakes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97395 entries, 0 to 97394
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       97395 non-null  int64
 1   time             97395 non-null  object
 2   latitude         97395 non-null  float64
 3   longitude        97395 non-null  float64
 4   depth            97110 non-null  float64
 5   mag              97395 non-null  float64
 6   magType          97395 non-null  object
 7   nst              26826 non-null  float64
 8   gap              37121 non-null  float64
 9   dmin             17183 non-null  float64
 10  rms              68654 non-null  float64
 11  net              97395 non-null  object
 12  id               97395 non-null  object
 13  updated          97395 non-null  object
 14  place            96851 non-null  object
 15  type             97395 non-null  object
 16  horizontalError  15808 non-null  float64
 17  depthError       47686 non-null  float64
 18  magError         30445 non-null  float64
 19  magNst           37448 non-null  float64
 20  status           97395 non-null  object
 21  locationSource   97395 non-null  object
 22  magSource        97395 non-null  object
dtypes: float64(12), int64(1), object(10)
memory usage: 17.1+ MB